{
  "exclude": ["_template.ts$", ".test.ts$"],
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "externalHelpers": true,
    "target": "es2015",
    "paths": {
      "supports-color": ["./src/__external__/supports-color"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
